.container{
	width: 100%;
	height: 300px;
	position: relative;
}

.arrow{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background: #fff;
	cursor:pointer;
	z-index: 99;
	&--next{
		right: 0;
	}
}

.slider{
	width: 100%;
	height: 100%;
	
	display:flex;
	align-items: center;
	position: relative;
	.slider__item{
		width: 20%;
		height: 200px;
		
		transform-origin: 50% 50%;
		cursor: pointer;
		position: absolute;
		transform: translateX(-50%);
		transition: .3s ease-in-out;
		left: 50%;
		opacity: 0;
		z-index: 10;
		&[data-position= "0"]{
			left: 50%;
			z-index:25;
			opacity: 1;
		}
		&[data-position= "1"], &[data-position= "4"]{
			width: 17%;
			height: 150px;
			opacity: 0.6;
			
			z-index:20;
		}
		&[data-position= "1"]{
			left: 30%;
		}
		&[data-position= "4"]{
			left: 70%;
		}
		&[data-position= "2"], &[data-position= "3"]{
			width: 15%;
			height: 120px;
			opacity: 0.3;
			
			z-index:15;
		}
		&[data-position= "2"]{
			left: 12.5%;
		}
		&[data-position= "3"]{
			left: 87.5%;
		}
	}
}

.imgslider{
    max-width: 200px;
    height: auto;
}

/*product*/

.products-containeInfo{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 50px 0;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 60px;
    max-width: 900px;
    margin: 60px auto;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.product-card img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    color: #666;
}

.product-card strong {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.buy-btn {
    background: #ff5722;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.buy-btn:hover {
    background: #e64a19;
}

.product-card:hover {
    transform: scale(1.05);
}